SECRET_KEY='django-insecure-7^q_i!wsu8shp((lqpi)+(24!c%c8g^83_=0)=h6v(th8^qu0@'
DEBUG=True

POSTGRES_DB=tasks_api_db
POSTGRES_USER=taskuser
POSTGRES_PASSWORD=123456

DB_HOST=localhost
DB_PORT=5432

UPCOMING_HOURS_LIMIT=48